body {
    background-color: #fafaf869!important;
}

h1, .display-4 {
  color: rgba(17, 0, 255, 0.678);
  font-weight: 700;
  font-family: 'Bangers', cursive;
}

.jumbotron {
  text-align: center;
}

h2 {
  color: lightskyblue;
  font-weight: 400;
  font-family: 'Bangers', cursive;
}

h1.section-title {
  border: none;
  margin-top: 20px;
}

.section-title {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
  padding: 15px auto;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.row {
  font-size: 20px;
}

.css-selector {
    font-family: 'Bangers', cursive;
    }

.footer-img{
  width: 150;
  height: 150;
}

.navbar-brand{
  font-family: 'Bangers', cursive;
}

.lead {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}